@use "../abstact/variables" as var;

.hero{
    padding-top: 8rem;
    .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        .content{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            // border: .1rem solid black;

            h1{
                font-size: 2.6rem;
            }

            p{
                color: var.$gray_text;
                span{
                    display: block;
                    font-weight: 600;
                }
            }
        }
        .image{
            // border: .1rem solid black;

            img{
                width: 100%;
            }
        }
    }
}