@use "../abstact/variables" as var;

.state{
    padding-top: 40rem;
    padding-bottom: 2rem;
    .container{
        background-color: var.$gray_light;
        padding: 2rem;
    }

    .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, 16rem);
        .box{
            width: 100%;
            // border: .1rem solid blue;
            text-align: center;
            p{
                color: var.$gray_text;
            }
        }
    }
}