@use "../abstact/variables" as var;

.state{
    padding-top: 40rem;
    padding-bottom: 2rem;

    .container{
        background-color: var.$gray_light;
    }

    .box-container{
        display: flex;
        flex-wrap: wrap;

        .box{
            width: 100%;
            text-align: center;
            border: .1rem solid var.$gray_separator;
            padding: 2rem;
            flex: 1 1 13rem;

            h2{
                font-weight: 600;
            }

            p{
                color: var.$gray_text;
            }
        }
    }
}