@use "./variables" as var;
@use "./police";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    transition: all .2s linear;
    border: none;
    font-family: "Poppins", sans-serif;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 8rem;
}
@media screen and (max-width: 1100px){
    html{
        font-size: 12px;
    }
}

body{
    background-color: var.$white;
}

.main-container{
    max-width: 1440px;
    margin: 20px auto;
    padding: .5rem;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.sec-padding{
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.sec-title{
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.sec-sub-title{
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: var.$gray_text;
    margin-bottom: 3rem;
}